* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure body takes full height */
}

body {
    background-color: #91ac00; 
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg.png'); /* Check this path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;  
    z-index: 0; /* Keep this lower than the body content */
}

.header.container-fluid {
    padding: 0;

}

