html, body {
    height: 100%; /* Ensure body takes full height */
    margin: 0; /* Remove default margin */
    position: relative; /* Allow positioning for absolute children */
}

body {
    background-color: #4d7417; 
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-style: normal;

}

body::before { 
    content: '';
    position: absolute;
    top: 0; /* Adjust top to 0 */
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg.png');  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;  
    z-index: 0; /* Set z-index lower than content */
} 



.wrapper {
    overflow: hidden;
    position: relative;
}

.left,
.right {
width: 100%;

top: 0;
transform: skewX(-5deg);
overflow: hidden;
}  



.left {
position: relative;
left: 0%; 
border-right: 5px solid #ffffff;
}

.right {
position: absolute;
right: 0%;  

}

/* .left .inner,
.right .inner {
width: 100%;
height: 100%;
background-size: cover;
background-repeat: no-repeat;
transform: skewX(8deg);
} */


 
 
 

.img-path {
object-fit: cover;  
width: 100%;
height: 100%;  
}

/* Carousel height */
.carousel-inner {
    height: 100%; 
}

.carousel-item {
    position: relative;
    height: 500px; 
}

.carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;  
    align-items: center; 
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);  
    padding: 20px;
    z-index: 1; /* Ensure captions are above images */
}

/* Styling for the heading */
.carousel-caption h1 {
    font-size: 8rem;
    font-weight: 800;
    line-height: 7rem;
    /* text-shadow: 2px 2px #4d7417;   */
    text-transform: uppercase;
    text-shadow: 
        1px 1px #304505,
        2px 2px rgba(48, 69, 5, 0.69), /* Using rgba for transparency */
        3px 3px rgba(48, 69, 5, 0.50),
        4px 4px rgba(48, 69, 5, 0.40),
        5px 5px rgba(48, 69, 5, 0.35),
        6px 6px rgba(48, 69, 5, 0.30),
        7px 7px rgba(48, 69, 5, 0.25),
        8px 8px rgba(48, 69, 5, 0.20),
        9px 9px rgba(48, 69, 5, 0.15),
        10px 10px rgba(48, 69, 5, 0.10),
        10px 10px 30px rgba(0, 0, 0, 0.7); /* Black shadow */


}


 

.button-home {
    position: absolute;
    top: 50%;   
    left: 50%; /* Centers horizontally */
    transform: translate(-50%, -50%); /* Perfect center */
}

.button-home .btn {
    color: #4d7417;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 20px;
    padding: 3px 8px;
    font-size: 1.8em;
    width: 140px;
     
}

.button-home .btn:hover {
    color: #ffffff;
    background-color: #4d7417;
    border-color: #4d7417;
    border: 2px solid #000000;
}
.container-1{
    position: relative;
}


.about{
    position: relative;
    
    /* background-color: #4d7417;  */
    background: #4d7417;
background: linear-gradient(8deg, #dff206 0%, #4d7417 35%);
 
  
}
 
 

.about-left{
    padding-top: 20%;
    padding-bottom: 20%;
    background: white;
    border-radius: 120px;
    border: 5px dotted #4d7417;
}
.about-left h5{
    color: #4d7417;
    font-size: 2rem;
    font-weight: 400;
}

 
.about::before { 
    content: '';
    position: absolute;
    top: 0;  
    width: 100%;
    height: 100%;
    background-image: url('../images/bg.png');  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;  
     
} 
/* .about-right{
    background-image: url('../images/towel-2.png');  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
 
    color: #ffffff;
    
  
  
} */
.about-right::after{
    z-index: -2;
    width: 782px;
    height: 602px;
    content: " ";
    position: absolute;
    top: -180px;
    left: -87px;
    background-image: url(../images/towel-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    transform: scale(0.8);

  }
  .about-right-tomot{
  
    position: absolute;
    bottom: -177px;
    left: -9px;
 

  }
  .startanimationtop {
    -webkit-animation: slideUpDownSmall 8s infinite linear;
    animation: slideUpDownSmall 8s infinite linear;
}

@keyframes slideUpDownSmall
{
  0%{-webkit-transform:translate3d(0, 0px, 0);
    transform:translate3d(0, 0px, 0)
	}
  25%{-webkit-transform:translate3d(0, 25px, 0);
     transform:translate3d(0, 25px, 0)
	 }
  50%{-webkit-transform:translate3d(0, 0px, 0);
      transform:translate3d(0, 0px, 0)}
  75%{-webkit-transform:translate3d(0, -25px, 0);
       transform:translate3d(0, -25px, 0)}
  100%{-webkit-transform:translate3d(0, 0px, 0);
       transform:translate3d(0, 0px, 0)}}
 

.about-right h1{
    font-size: 2.5rem;
    font-weight: 400;
    color: #ffffff;
}
.about-right p{
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
}
.about-right-inner{
    transform: scale(0.8);
    z-index: 4;

}
.btn {
    color: #4d7417;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 20px;
    padding: 6px 15px;
    font-size: 1.8em;
}
 /* .btn:hover {
    color: #ffffff;
    background-color: #4d7417;
    border-color: #4d7417;
    border: 2px solid #000000;
}.
*/

.btn {
    color: #4d7417;
    background-color: #ffffff;
    border-color: #ffffff;
    
    border-radius: 20px;
    padding: 6px 15px;
    font-size: 1.8em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    animation: pulse 1.5s infinite; /* Add pulsing animation */
}  

.btn:hover {
    color: #ffffff;
    background-color: #4d7417;
    border-color: #4d7417;
    
    border: 2px dotted #000000;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4); /* Stronger shadow on hover */
    transform: scale(1.05); /* Slightly increase size on hover */
    
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Original size */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Original shadow */
    }
    50% {
        transform: scale(1.1); /* Slightly larger */
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4); /* Stronger shadow */
    }
    100% {
        transform: scale(1); /* Back to original size */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Back to original shadow */
    }
}

 

.carda {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin: 20px;
    z-index: 3;
}
.carda img {
    border-radius: 15px;
    height: 300px;
    width: 100%;
}
 .label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(270deg);
    background-color: #c2ce00;
    padding: 10px 20px;
    width: 200px;
    font-weight: bold;
    color: #000;
    border-radius: 60px;
    text-transform: uppercase;
    box-shadow: 0 0 20px #3d3d3d;
   
 
}

.label-left {
    left: -80px;
 
}
.label-right {
    right: -80px;
   
}
.label h3 {
    font-size: 2rem;
    color: #252425;
}
.heelo-about h1 {
    font-size: 6rem;
    color: #ffffff;
}
.heelo-about p {
    font-size: 1.5rem;
    color: #ffffff;
}
.heelo-about .card img{
    padding: 5%;
}
.heelo-about .card-body{
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 5px 0 4px;
    margin: 10px;

}.heelo-about h3{
    font-size: 2rem;
}
.heelo-about .fa{
    color: #ff0000;
    font-size: 1.6rem;
    animation: blink-animation 1.8s infinite;
}
@keyframes blink-animation {
    0% { opacity: 1; }   /* Fully visible */
    50% { opacity: 0; }  /* Fully invisible */
    100% { opacity: 1; } /* Fully visible */
}
 



.table_main{
    position: relative;
}
.content-aa{
    position: absolute;
   
    top: 24%;
    transform: rotate(-7deg);
       left: 20%;
    line-height: 1.2;
    text-align: center;
    color: #486a00;
     
    font-size: 2.8em;
    font-weight: 800;
}
.content-aa .btn {
    color: #ffffff;
    background-color: #486a00;
    border-color: #486a00;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: .8em;
}

.content-aa .btn:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
    border: 2px solid #000000;
}

.img-hand{
    z-index: 2;
    position: absolute;
    bottom: -3%;
    width: 80%;
    right: -3%;
    transform: rotate(-5deg);
}

 
.rise-shake-medium {
    animation: jump-shaking 2.8s infinite; /* Medium shake */
}

.rise-shake-slow {
    animation: jump-shaking 3.5s infinite; /* Slow shake */
}

.rise-shake-very-slow {
    animation: jump-shaking 4s infinite; /* Very slow shake */
}

@keyframes jump-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateY(-9px) }
    35% { transform: translateY(-9px) rotate(17deg) }
    55% { transform: translateY(-9px) rotate(-17deg) }
    65% { transform: translateY(-9px) rotate(17deg) }
    75% { transform: translateY(-9px) rotate(-17deg) }
    100% { transform: translateY(0) rotate(0) }
}



.army-bomb-container {
    position: absolute;
    left: 50%;
    top: 6%;
    transform: translate(-50%, -50%); /* Centers the container */
}

.army-bomb {
    position: relative;
    background-color: white;
    border-radius: 30px;
    animation: light-up 3s infinite ease-in-out;
    opacity: 0.9;
    width: 1px;  /* Optional: define width */
    height: 1px; /* Optional: define height */
}

.army-bomb::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;  /* Centers the pseudo-element */
    width: 67px;
    height: 72px;
    transform: translate(-50%, -50%); 
    background-image: url('../images/glitter.png');
    background-size: cover; /* Ensure image covers the element */
    background-repeat: no-repeat;
    z-index: 1; /* Keep the pseudo-element on top */
}

/* Glowing animation */
@keyframes light-up {
    0%   { box-shadow: 0px 0px 50px 1px white; }
    50%  { box-shadow: 0px 0px 50px 30px white; }
    100% { box-shadow: 0px 0px 50px 1px white; }
}






/* Media Queries for Responsive Design */
@media (max-width: 576px) {

    .slider{
        padding-bottom: 70vh;
    }
    .about-right-inner{
        transform: scale(0.9);
        z-index: 4;
    
    }.about-right-tomot {
        
        bottom: -113px;
    }
    .about-right::after{ 
        left: -184px;
        top: -143px;
        transform: scale(0.7);
    }
    .left {
        border-right: 0px solid #ffffff; /* Remove border on smaller screens */
    }
    
    .left, .right {
        transform: skewX(0deg); /* Remove skew on small screens */
    }

    .army-bomb {
        display: none; /* Hide army bomb on small screens */
    }
    .gallery{
        padding-right: 10% !important;
    padding-left: 10% !important;
    }
    .label-left {
        left: -60px;
    }
    .label-right {
        right: -60px;
    }
    .content-aa{
        left: 30% !important;

    }
    .img-hand{
        right: -8%;
        position: relative;
        width: 100%;
    }
}


/*working only in ipad-min portrait device*/
@media only screen and (width: 768px) and (height: 1024px) and (orientation:portrait) {
    .carousel-caption h1 {
        font-size: 7rem !important;
    }
    .about-right::after {
        top: -122px !important;
        left: -201px !important;
    }
    .content-aa{
        left: 30%;
    }
    .img-hand {
        right: -3%;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
  }
/*working only in ipad-min landscape device*/
  @media all and (width: 1024px) and (height: 768px) and (orientation:landscape){
    .carousel-caption h1 {
        font-size: 7rem !important;
    }
    .about-right::after {
        top: -157px !important;
        left: -139px !important;
    
    }
    .content-aa{
        left: 25%;
    }
  }
/*working only in ipad-air portrait device*/
@media only screen and (width: 820px) and (height: 1180px) and (orientation:portrait) {
    .carousel-caption h1 {
        font-size: 7rem !important;
    }
    .about-right::after {
        top: -122px !important;
        left: -201px !important;
    }
    .content-aa{
        left: 29%;
    }
  }
/*working only in ipad-min landscape device*/
  @media all and (width: 1180px) and (height: 820px) and (orientation:landscape){
    .carousel-caption h1 {
        font-size: 7rem !important;
    }
    .about-right::after {
        top: -157px !important;
        left: -139px !important;
    
    }
    .content-aa{
        left: 25%;
    }
  }

  /*working only in ipad-air portrait device*/
/* @media only screen and (width: 1024px) and (height: 1366px) and (orientation:portrait) {
    .carousel-caption h1 {
        font-size: 7rem !important;
    }
    .about-right::after {
        top: -170px !important;
    left: -144px !important;
    }
  } */
/*working only in ipad-pro landscape device*/
  @media all and (width: 1366px) and (height: 1024px) and (orientation:landscape){
    .carousel-caption h1 {
        font-size: 7rem !important;
    }
    .about-right::after {
        top: -180px;
        left: -141px;
    
    }
    .content-aa {
        left: 21%;
    }
  }
  @media only screen and (min-width: 768px) {
    .about-right::after {
        top: -180px;
        left: -107px;
    
    }
    .content-aa{
        left: 22%;
    }
  }
 
 

  