  

body{
    font-family: "Montserrat", sans-serif;
    background-color: #9a0201;
}
 


.header {
    background-color: #000;
    border-radius: 0 0 50% 50% !important;
 }

 .padding-set{
    padding-top: 50px  !important;
    padding-bottom: 50px  !important;
 }

.header h1 {


    text-transform: uppercase;
    color: transparent;
    font-style: italic;
  -webkit-text-fill-color: transparent;  
  -webkit-text-stroke-width: 9px;
  -webkit-text-stroke: 1.9px #f9e326;
 
  font-weight: 800;
  line-height: 1.2;
  animation: blink 2s infinite;
  -webkit-animation: blink 2s infinite;
}
.header .col-md-12{
    padding: 0;
}
@-webkit-keyframes blink {
  20%, 24%, 55% {
    color: #111;
    text-shadow: none;
  }
  
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow: 0 0 5px #ff883350, 
                 0 0 15px #ff883350, 
                 0 0 20px #ff883350, 
                 0 0 40px #ff883350, 
                 0 0 60px #9a0201, 
                 0 0 10px #ff883350, 
                 0 0 98px #9a0201;
    color: #fff6a9;
  }
}
/* 
@-webkit-keyframes blink {
20%,
24%,
55% {
color: #111;
text-shadow: none;
}

0%,
19%,
21%,
23%,
25%,
54%,
56%,
100% {

  text-shadow: 0 0 5px #ff8733, 0 0 15px #ff8733, 0 0 20px #ff8733, 0 0 40px #ff8733, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
} */

 
.header .btn-primary {
    color: #fff;
    background-color: #9a0201;
    border-color: #9a0201;
  
}

.header .btn-primary{
    margin-top: -30%;
}

.about {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #9a0201; 
   
}

.about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;  
    z-index: 0;  
}
 
.about p{
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}
.about h1{
    color: #f9e326;
    font-size: 2.5rem;
    font-weight: 800;
}
.img-path{
    clip-path: polygon(8% 0, 100% 0%, 90% 100%, 0% 100%);     width: 80%;
}
.ma-top{
    margin-top: -20px;
}


.about-text {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #ffd82f;
    overflow: hidden;
 
   
}

.about-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;  
    z-index: 0;  
}
 

/* Styles for the image */
.animated-img {
    width: 400px;
    height: auto;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    border: 2px solid #ff8733; /* 2px border with color #ff8733 */
    animation: morphing 8s ease-in-out infinite;
}

 /* Single div with a white circle morphing animation */
.morphing-container {
    width: 400px;
    height: 400px;
    background-color: #ff8733; /* Orange background color for the div */
    border: 2px solid #ffffff; /* Orange border */
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    position: relative;
    animation: containerMorph 8s ease-in-out infinite;
    overflow: hidden;
    z-index: 2;
}

/* White morphing circle inside the container */
.white-circle {
    width: 450px;
    height: 450px;
    background-color: #ff8733;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 39px;
    animation: circleMorph 8s ease-in-out infinite;
}

/* Keyframes for the container morphing */
@keyframes containerMorph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

/* Keyframes for the white circle morphing */
@keyframes circleMorph {
    0% {
        border-radius: 50%;
    }
    50% {
        border-radius: 30% 60% 60% 30%/60% 30% 70% 40%;
    }
    100% {
        border-radius: 50%;
    }
}
 

 @-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-fill-1 0.7s linear 0.8s both;
          animation: animate-svg-fill-1 0.7s linear 0.8s both;
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-fill-2 0.7s linear 0.9s both;
          animation: animate-svg-fill-2 0.7s linear 0.9s both;
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-fill-3 0.7s linear 1s both;
          animation: animate-svg-fill-3 0.7s linear 1s both;
}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-fill-4 0.7s linear 1.1s both;
          animation: animate-svg-fill-4 0.7s linear 1.1s both;
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-fill-5 0.7s linear 1.2000000000000002s both;
          animation: animate-svg-fill-5 0.7s linear 1.2000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-fill-6 0.7s linear 1.3s both;
          animation: animate-svg-fill-6 0.7s linear 1.3s both;
}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-7 {
  -webkit-animation: animate-svg-fill-7 0.7s linear 1.4000000000000001s both;
          animation: animate-svg-fill-7 0.7s linear 1.4000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-8 {
  -webkit-animation: animate-svg-fill-8 0.7s linear 1.5s both;
          animation: animate-svg-fill-8 0.7s linear 1.5s both;
}

@-webkit-keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-9 {
  -webkit-animation: animate-svg-fill-9 0.7s linear 1.6s both;
          animation: animate-svg-fill-9 0.7s linear 1.6s both;
}

@-webkit-keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-10 {
  -webkit-animation: animate-svg-fill-10 0.7s linear 1.7000000000000002s both;
          animation: animate-svg-fill-10 0.7s linear 1.7000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-11 {
  -webkit-animation: animate-svg-fill-11 0.7s linear 1.8s both;
          animation: animate-svg-fill-11 0.7s linear 1.8s both;
}

@-webkit-keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-12 {
  -webkit-animation: animate-svg-fill-12 0.7s linear 1.9000000000000001s both;
          animation: animate-svg-fill-12 0.7s linear 1.9000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-13 {
  -webkit-animation: animate-svg-fill-13 0.7s linear 2s both;
          animation: animate-svg-fill-13 0.7s linear 2s both;
}

@-webkit-keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-14 {
  -webkit-animation: animate-svg-fill-14 0.7s linear 2.1s both;
          animation: animate-svg-fill-14 0.7s linear 2.1s both;
}

@-webkit-keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-15 {
  -webkit-animation: animate-svg-fill-15 0.7s linear 2.2s both;
          animation: animate-svg-fill-15 0.7s linear 2.2s both;
}

@-webkit-keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-16 {
  -webkit-animation: animate-svg-fill-16 0.7s linear 2.3s both;
          animation: animate-svg-fill-16 0.7s linear 2.3s both;
}

@-webkit-keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-17 {
  -webkit-animation: animate-svg-fill-17 0.7s linear 2.4000000000000004s both;
          animation: animate-svg-fill-17 0.7s linear 2.4000000000000004s both;
}

@-webkit-keyframes animate-svg-fill-18 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-18 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-18 {
  -webkit-animation: animate-svg-fill-18 0.7s linear 2.5s both;
          animation: animate-svg-fill-18 0.7s linear 2.5s both;
}

@-webkit-keyframes animate-svg-fill-19 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-19 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-19 {
  -webkit-animation: animate-svg-fill-19 0.7s linear 2.6s both;
          animation: animate-svg-fill-19 0.7s linear 2.6s both;
}

@-webkit-keyframes animate-svg-fill-20 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-20 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-20 {
  -webkit-animation: animate-svg-fill-20 0.7s linear 2.7s both;
          animation: animate-svg-fill-20 0.7s linear 2.7s both;
}

@-webkit-keyframes animate-svg-fill-21 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

@keyframes animate-svg-fill-21 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(239, 76, 62);
  }
}

.svg-elem-21 {
  -webkit-animation: animate-svg-fill-21 0.7s linear 2.8s both;
          animation: animate-svg-fill-21 0.7s linear 2.8s both;
}

@-webkit-keyframes animate-svg-fill-22 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-22 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-22 {
  -webkit-animation: animate-svg-fill-22 0.7s linear 2.9000000000000004s both;
          animation: animate-svg-fill-22 0.7s linear 2.9000000000000004s both;
}

@-webkit-keyframes animate-svg-fill-23 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-23 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-23 {
  -webkit-animation: animate-svg-fill-23 0.7s linear 3s both;
          animation: animate-svg-fill-23 0.7s linear 3s both;
}

@-webkit-keyframes animate-svg-fill-24 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-24 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-24 {
  -webkit-animation: animate-svg-fill-24 0.7s linear 3.1000000000000005s both;
          animation: animate-svg-fill-24 0.7s linear 3.1000000000000005s both;
}

@-webkit-keyframes animate-svg-fill-25 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-25 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-25 {
  -webkit-animation: animate-svg-fill-25 0.7s linear 3.2s both;
          animation: animate-svg-fill-25 0.7s linear 3.2s both;
}

@-webkit-keyframes animate-svg-fill-26 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-26 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-26 {
  -webkit-animation: animate-svg-fill-26 0.7s linear 3.3s both;
          animation: animate-svg-fill-26 0.7s linear 3.3s both;
}

@-webkit-keyframes animate-svg-fill-27 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-27 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-27 {
  -webkit-animation: animate-svg-fill-27 0.7s linear 3.4000000000000004s both;
          animation: animate-svg-fill-27 0.7s linear 3.4000000000000004s both;
}

@-webkit-keyframes animate-svg-fill-28 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-28 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-28 {
  -webkit-animation: animate-svg-fill-28 0.7s linear 3.5s both;
          animation: animate-svg-fill-28 0.7s linear 3.5s both;
}

@-webkit-keyframes animate-svg-fill-29 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-29 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-29 {
  -webkit-animation: animate-svg-fill-29 0.7s linear 3.6000000000000005s both;
          animation: animate-svg-fill-29 0.7s linear 3.6000000000000005s both;
}

@-webkit-keyframes animate-svg-fill-30 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-30 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-30 {
  -webkit-animation: animate-svg-fill-30 0.7s linear 3.7s both;
          animation: animate-svg-fill-30 0.7s linear 3.7s both;
}

@-webkit-keyframes animate-svg-fill-31 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-31 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-31 {
  -webkit-animation: animate-svg-fill-31 0.7s linear 3.8s both;
          animation: animate-svg-fill-31 0.7s linear 3.8s both;
}

@-webkit-keyframes animate-svg-fill-32 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-32 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-32 {
  -webkit-animation: animate-svg-fill-32 0.7s linear 3.9000000000000004s both;
          animation: animate-svg-fill-32 0.7s linear 3.9000000000000004s both;
}

@-webkit-keyframes animate-svg-fill-33 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-33 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-33 {
  -webkit-animation: animate-svg-fill-33 0.7s linear 4s both;
          animation: animate-svg-fill-33 0.7s linear 4s both;
}

@-webkit-keyframes animate-svg-fill-34 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-34 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-34 {
  -webkit-animation: animate-svg-fill-34 0.7s linear 4.1000000000000005s both;
          animation: animate-svg-fill-34 0.7s linear 4.1000000000000005s both;
}

@-webkit-keyframes animate-svg-fill-35 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-35 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-35 {
  -webkit-animation: animate-svg-fill-35 0.7s linear 4.2s both;
          animation: animate-svg-fill-35 0.7s linear 4.2s both;
}

@-webkit-keyframes animate-svg-fill-36 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-36 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-36 {
  -webkit-animation: animate-svg-fill-36 0.7s linear 4.3s both;
          animation: animate-svg-fill-36 0.7s linear 4.3s both;
}

@-webkit-keyframes animate-svg-fill-37 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-37 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-37 {
  -webkit-animation: animate-svg-fill-37 0.7s linear 4.4s both;
          animation: animate-svg-fill-37 0.7s linear 4.4s both;
}

@-webkit-keyframes animate-svg-fill-38 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-38 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-38 {
  -webkit-animation: animate-svg-fill-38 0.7s linear 4.5s both;
          animation: animate-svg-fill-38 0.7s linear 4.5s both;
}

@-webkit-keyframes animate-svg-fill-39 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-39 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-39 {
  -webkit-animation: animate-svg-fill-39 0.7s linear 4.6000000000000005s both;
          animation: animate-svg-fill-39 0.7s linear 4.6000000000000005s both;
}

@-webkit-keyframes animate-svg-fill-40 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-40 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-40 {
  -webkit-animation: animate-svg-fill-40 0.7s linear 4.7s both;
          animation: animate-svg-fill-40 0.7s linear 4.7s both;
}

@-webkit-keyframes animate-svg-fill-41 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-41 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-41 {
  -webkit-animation: animate-svg-fill-41 0.7s linear 4.8s both;
          animation: animate-svg-fill-41 0.7s linear 4.8s both;
}

@-webkit-keyframes animate-svg-fill-42 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-42 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-42 {
  -webkit-animation: animate-svg-fill-42 0.7s linear 4.9s both;
          animation: animate-svg-fill-42 0.7s linear 4.9s both;
}

@-webkit-keyframes animate-svg-fill-43 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

@keyframes animate-svg-fill-43 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(23, 53, 63);
  }
}

.svg-elem-43 {
  -webkit-animation: animate-svg-fill-43 0.7s linear 5s both;
          animation: animate-svg-fill-43 0.7s linear 5s both;
}

@-webkit-keyframes animate-svg-fill-44 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-44 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-44 {
  -webkit-animation: animate-svg-fill-44 0.7s linear 5.1s both;
          animation: animate-svg-fill-44 0.7s linear 5.1s both;
}

@-webkit-keyframes animate-svg-fill-45 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-45 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-45 {
  -webkit-animation: animate-svg-fill-45 0.7s linear 5.2s both;
          animation: animate-svg-fill-45 0.7s linear 5.2s both;
}

@-webkit-keyframes animate-svg-fill-46 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-46 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-46 {
  -webkit-animation: animate-svg-fill-46 0.7s linear 5.3s both;
          animation: animate-svg-fill-46 0.7s linear 5.3s both;
}

@-webkit-keyframes animate-svg-fill-47 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-47 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-47 {
  -webkit-animation: animate-svg-fill-47 0.7s linear 5.4s both;
          animation: animate-svg-fill-47 0.7s linear 5.4s both;
}

@-webkit-keyframes animate-svg-fill-48 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-48 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-48 {
  -webkit-animation: animate-svg-fill-48 0.7s linear 5.5s both;
          animation: animate-svg-fill-48 0.7s linear 5.5s both;
}

@-webkit-keyframes animate-svg-fill-49 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-49 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-49 {
  -webkit-animation: animate-svg-fill-49 0.7s linear 5.6000000000000005s both;
          animation: animate-svg-fill-49 0.7s linear 5.6000000000000005s both;
}

@-webkit-keyframes animate-svg-fill-50 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-50 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-50 {
  -webkit-animation: animate-svg-fill-50 0.7s linear 5.7s both;
          animation: animate-svg-fill-50 0.7s linear 5.7s both;
}

@-webkit-keyframes animate-svg-fill-51 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-51 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-51 {
  -webkit-animation: animate-svg-fill-51 0.7s linear 5.8s both;
          animation: animate-svg-fill-51 0.7s linear 5.8s both;
}

@-webkit-keyframes animate-svg-fill-52 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-52 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-52 {
  -webkit-animation: animate-svg-fill-52 0.7s linear 5.9s both;
          animation: animate-svg-fill-52 0.7s linear 5.9s both;
}

@-webkit-keyframes animate-svg-fill-53 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-53 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-53 {
  -webkit-animation: animate-svg-fill-53 0.7s linear 6s both;
          animation: animate-svg-fill-53 0.7s linear 6s both;
}

@-webkit-keyframes animate-svg-fill-54 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-54 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-54 {
  -webkit-animation: animate-svg-fill-54 0.7s linear 6.1000000000000005s both;
          animation: animate-svg-fill-54 0.7s linear 6.1000000000000005s both;
}

@-webkit-keyframes animate-svg-fill-55 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-55 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-55 {
  -webkit-animation: animate-svg-fill-55 0.7s linear 6.2s both;
          animation: animate-svg-fill-55 0.7s linear 6.2s both;
}

@-webkit-keyframes animate-svg-fill-56 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-56 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-56 {
  -webkit-animation: animate-svg-fill-56 0.7s linear 6.3s both;
          animation: animate-svg-fill-56 0.7s linear 6.3s both;
}

@-webkit-keyframes animate-svg-fill-57 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-57 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-57 {
  -webkit-animation: animate-svg-fill-57 0.7s linear 6.4s both;
          animation: animate-svg-fill-57 0.7s linear 6.4s both;
}

@-webkit-keyframes animate-svg-fill-58 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-58 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-58 {
  -webkit-animation: animate-svg-fill-58 0.7s linear 6.5s both;
          animation: animate-svg-fill-58 0.7s linear 6.5s both;
}

@-webkit-keyframes animate-svg-fill-59 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-59 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-59 {
  -webkit-animation: animate-svg-fill-59 0.7s linear 6.6000000000000005s both;
          animation: animate-svg-fill-59 0.7s linear 6.6000000000000005s both;
}

@-webkit-keyframes animate-svg-fill-60 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-60 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-60 {
  -webkit-animation: animate-svg-fill-60 0.7s linear 6.7s both;
          animation: animate-svg-fill-60 0.7s linear 6.7s both;
}

@-webkit-keyframes animate-svg-fill-61 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-61 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-61 {
  -webkit-animation: animate-svg-fill-61 0.7s linear 6.8s both;
          animation: animate-svg-fill-61 0.7s linear 6.8s both;
}

@-webkit-keyframes animate-svg-fill-62 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-62 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-62 {
  -webkit-animation: animate-svg-fill-62 0.7s linear 6.9s both;
          animation: animate-svg-fill-62 0.7s linear 6.9s both;
}

@-webkit-keyframes animate-svg-fill-63 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-63 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-63 {
  -webkit-animation: animate-svg-fill-63 0.7s linear 7s both;
          animation: animate-svg-fill-63 0.7s linear 7s both;
}

@-webkit-keyframes animate-svg-fill-64 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-64 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-64 {
  -webkit-animation: animate-svg-fill-64 0.7s linear 7.1000000000000005s both;
          animation: animate-svg-fill-64 0.7s linear 7.1000000000000005s both;
}

@-webkit-keyframes animate-svg-fill-65 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-65 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-65 {
  -webkit-animation: animate-svg-fill-65 0.7s linear 7.2s both;
          animation: animate-svg-fill-65 0.7s linear 7.2s both;
}

@-webkit-keyframes animate-svg-fill-66 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-66 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-66 {
  -webkit-animation: animate-svg-fill-66 0.7s linear 7.3s both;
          animation: animate-svg-fill-66 0.7s linear 7.3s both;
}

@-webkit-keyframes animate-svg-fill-67 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-67 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-67 {
  -webkit-animation: animate-svg-fill-67 0.7s linear 7.4s both;
          animation: animate-svg-fill-67 0.7s linear 7.4s both;
}

@-webkit-keyframes animate-svg-fill-68 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-68 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-68 {
  -webkit-animation: animate-svg-fill-68 0.7s linear 7.5s both;
          animation: animate-svg-fill-68 0.7s linear 7.5s both;
}

@-webkit-keyframes animate-svg-fill-69 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-69 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-69 {
  -webkit-animation: animate-svg-fill-69 0.7s linear 7.6000000000000005s both;
          animation: animate-svg-fill-69 0.7s linear 7.6000000000000005s both;
}

@-webkit-keyframes animate-svg-fill-70 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-70 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-70 {
  -webkit-animation: animate-svg-fill-70 0.7s linear 7.7s both;
          animation: animate-svg-fill-70 0.7s linear 7.7s both;
}

@-webkit-keyframes animate-svg-fill-71 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-71 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-71 {
  -webkit-animation: animate-svg-fill-71 0.7s linear 7.8s both;
          animation: animate-svg-fill-71 0.7s linear 7.8s both;
}

@-webkit-keyframes animate-svg-fill-72 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-72 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-72 {
  -webkit-animation: animate-svg-fill-72 0.7s linear 7.9s both;
          animation: animate-svg-fill-72 0.7s linear 7.9s both;
}

@-webkit-keyframes animate-svg-fill-73 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-73 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-73 {
  -webkit-animation: animate-svg-fill-73 0.7s linear 8s both;
          animation: animate-svg-fill-73 0.7s linear 8s both;
}

@-webkit-keyframes animate-svg-fill-74 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-74 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-74 {
  -webkit-animation: animate-svg-fill-74 0.7s linear 8.100000000000001s both;
          animation: animate-svg-fill-74 0.7s linear 8.100000000000001s both;
}

@-webkit-keyframes animate-svg-fill-75 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-75 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-75 {
  -webkit-animation: animate-svg-fill-75 0.7s linear 8.200000000000001s both;
          animation: animate-svg-fill-75 0.7s linear 8.200000000000001s both;
}

@-webkit-keyframes animate-svg-fill-76 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-76 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-76 {
  -webkit-animation: animate-svg-fill-76 0.7s linear 8.3s both;
          animation: animate-svg-fill-76 0.7s linear 8.3s both;
}

@-webkit-keyframes animate-svg-fill-77 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-77 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-77 {
  -webkit-animation: animate-svg-fill-77 0.7s linear 8.4s both;
          animation: animate-svg-fill-77 0.7s linear 8.4s both;
}

@-webkit-keyframes animate-svg-fill-78 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-78 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-78 {
  -webkit-animation: animate-svg-fill-78 0.7s linear 8.5s both;
          animation: animate-svg-fill-78 0.7s linear 8.5s both;
}

@-webkit-keyframes animate-svg-fill-79 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-79 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-79 {
  -webkit-animation: animate-svg-fill-79 0.7s linear 8.600000000000001s both;
          animation: animate-svg-fill-79 0.7s linear 8.600000000000001s both;
}

@-webkit-keyframes animate-svg-fill-80 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-80 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-80 {
  -webkit-animation: animate-svg-fill-80 0.7s linear 8.700000000000001s both;
          animation: animate-svg-fill-80 0.7s linear 8.700000000000001s both;
}

@-webkit-keyframes animate-svg-fill-81 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-81 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-81 {
  -webkit-animation: animate-svg-fill-81 0.7s linear 8.8s both;
          animation: animate-svg-fill-81 0.7s linear 8.8s both;
}

@-webkit-keyframes animate-svg-fill-82 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-82 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-82 {
  -webkit-animation: animate-svg-fill-82 0.7s linear 8.9s both;
          animation: animate-svg-fill-82 0.7s linear 8.9s both;
}

@-webkit-keyframes animate-svg-fill-83 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-83 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-83 {
  -webkit-animation: animate-svg-fill-83 0.7s linear 9.000000000000002s both;
          animation: animate-svg-fill-83 0.7s linear 9.000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-84 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-84 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-84 {
  -webkit-animation: animate-svg-fill-84 0.7s linear 9.100000000000001s both;
          animation: animate-svg-fill-84 0.7s linear 9.100000000000001s both;
}

@-webkit-keyframes animate-svg-fill-85 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-85 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-85 {
  -webkit-animation: animate-svg-fill-85 0.7s linear 9.200000000000001s both;
          animation: animate-svg-fill-85 0.7s linear 9.200000000000001s both;
}

@-webkit-keyframes animate-svg-fill-86 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-86 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-86 {
  -webkit-animation: animate-svg-fill-86 0.7s linear 9.3s both;
          animation: animate-svg-fill-86 0.7s linear 9.3s both;
}

@-webkit-keyframes animate-svg-fill-87 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

@keyframes animate-svg-fill-87 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(18, 34, 62);
  }
}

.svg-elem-87 {
  -webkit-animation: animate-svg-fill-87 0.7s linear 9.4s both;
          animation: animate-svg-fill-87 0.7s linear 9.4s both;
}


.img-path-ma{
    top: 37%;
    width: 50%;
    position: absolute;
    right: -100px;
    z-index: 6;
}


.circle {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;  
    margin: -90px auto 15px;  
    background-color: #ebdc2f; 
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    border: 5px dotted  #b90301; /* Add border with desired color and width */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: add a shadow for effect */
}

.circle img {
    width: 60%; /* Adjust the image width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: makes the image circular */
}

.card{
    background-color: #b90301;
}
.card h5{
    color: #ebdc2f;    font-weight: 800;
}
.card p{
    color: #ffffff;
}

 

.owl-carousel .item {
   transform: translate3d(0, 0, 0);  
  /* transform: scale(0.9);

   transition: all .25s ease-in-out;  */
  margin: 50px  0; 
 }

  .owl-item .item img {
    -webkit-transition: 0.3s;
     
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: scale(0.80);
    -ms-transform: scale(0.80);
    transform: scale(0.80);
    border-radius: 50%;
    padding: 10%;
}

  .owl-item.center .item img {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}
.owl-item h5{
    color: #ffea00;
    font-weight: 800;
    text-transform: uppercase;
}
.owl-item .btn {
  
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 8px 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.owl-item .btn:hover {
  background-color: black;
  color: white;
}
 
 
/* Hide .item-inner initially */
.owl-item .item-inner {
    display: none;
    opacity: 0;
}

/* Show the inner content when the item is active or centered */
.owl-item.active .item-inner {
    display: block;
    opacity: 1;
}

.owl-item.center .item-inner {
    display: block;
    opacity: 1;
}

.text-uo{
    font-weight: 300 !important;
    text-transform: uppercase;
}

.btn-grad {
    background-image: linear-gradient(to right, #b90301 0%, #000000 51%, #b90301 100%);
    margin: 10px;
    padding: 8px 20px;  
    font-size: 14px; 
    width: 30%;   
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 10px #b90301;  
    border-radius: 0px; 
    display: block;
    position: relative;
    z-index: 1;
    border: none;
    outline: none;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.btn-grad::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 0px; /* Match the smaller button's radius */
    background: linear-gradient(45deg, #b90301, #000000, #b90301);
    z-index: -1;
    transition: all 0.5s ease;
    background-size: 400%;
    opacity: 0;
}

.btn-grad::before {
    opacity: 1;
    background-position: 100% 0;
    animation: outlineMove 1.5s infinite;
}

@keyframes outlineMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.btn-white-black {
    background-image: linear-gradient(to right, #ffc726 0%, #ffc726 100%); /* White to black gradient */
    margin: 10px;
    padding: 8px 20px; /* Small button size */
    font-size: 14px;   /* Adjusted font size */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);  /* Black text on white background */
    box-shadow: 0 0 10px #ffc726;
    border-radius: 0px;
    display: block;
    position: relative;
    z-index: 1;
    border: none;
    outline: none;
    width: 30%;   
}

.btn-white-black:hover {
    background-position: right center;
    color: white;  /* Change text color on hover */
    text-decoration: none;
}

.btn-white-black::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 0px;
    background: linear-gradient(45deg, #ffc726, #000000, #ffc726); /* Red-to-black outline animation */
    z-index: -1;
    transition: all 0.5s ease;
    background-size: 400%;
    opacity: 0;
}

.btn-white-black:hover::before {
    opacity: 1;
    background-position: 100% 0;
    animation: outlineMove 1.5s infinite;
}

.btn-primary{
    border-radius: 0;
}
.btn-primary:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
    border-radius: 0;
}
 
 .head-1{
    color: #9a0201;
    font-weight: 800;
}
.para-1{
    color:#000;
    font-size: 1.5rem;
    font-weight: 500;
}
 .z{
    z-index: 3;
 }

 @media (max-width: 576px) {
    .btn-white-black,.btn-grad {
        width: 50%;
        margin: 0 auto;
    }
    .about h1,.head-1{
        font-size: 2em;
    }
    .about p,.para-1{
        font-size: 1.2rem;
    }
    .header, .image-set{
        border-radius: 0  !important;
    }
}

.startanimationtop {
    -webkit-animation: slideUpDownSmall 8s infinite linear;
    animation: slideUpDownSmall 8s infinite linear;
}

@keyframes slideUpDownSmall
{
  0%{-webkit-transform:translate3d(0, 0px, 0);
    transform:translate3d(0, 0px, 0)
	}
  25%{-webkit-transform:translate3d(0, 25px, 0);
     transform:translate3d(0, 25px, 0)
	 }
  50%{-webkit-transform:translate3d(0, 0px, 0);
      transform:translate3d(0, 0px, 0)}
  75%{-webkit-transform:translate3d(0, -25px, 0);
       transform:translate3d(0, -25px, 0)}
  100%{-webkit-transform:translate3d(0, 0px, 0);
       transform:translate3d(0, 0px, 0)}}
 
  .image-set{
    border-radius: 0 0 50% 50% !important;
  }

  .image-bg{
    position: relative;

  }
  .image-bg::after{
    width: 887px;
    height: 608px;
    content: " ";
    position: absolute;
    bottom: -142px;
    right: -320px;
    background-image: url('../images/bg-1.png'); /* Add image */
    background-size: cover;  
    opacity: 0.5;
    transform: scale(0.5);


  }